#barraDalt,#adeu {
	background-color: lightgreen !important;
	color: white !important;
	margin-bottom: 0px !important;
}

.num{
	width: 24% !important;
	heigth: 35% !important;  
	padding: 5% !important;
	margin: 3%
}
#numeros{
	display: none;
	margin: 5%;
	margin-top: 0%;
	padding: 2%;
	background-color: lightgreen;
}
#resum,table{
	display: none;
}
#productes{
	margin-top: 5%;
}
caption{
	font-weigth: bold;
}
.producte{
	padding: 5px !important;
	border-radius: 7px;
	border-style: solid;
	background-color: lightblue !important;
	text-align:center;
	margin: 1%;
}

#menuMagic , a:link,  #menuMagic a:visited,  #menuMagic a:hover,  #menuMagic a:active { 
	color:black !important; 
}
#menuMagic{
	color: black !important;
}

#categories, #productes, #resum {
    max-height: 350px;
    overflow-y:scroll; 
}