#barraDalt,#adeu {
	background-color: #01A9DB !important;
	color: white !important;
	margin-bottom: 0px !important;
}

#barra2 {
	margin-top: 0px;
}

.categoria button {
	width: 120px !important;
	height: 60px !important;
	margin-bottom: 5px !important;
}
.element{
	padding: 5px !important;
	border-radius: 7px;
	border-style: solid;
	background-color: lightblue !important;
	text-align:center;
	font-size: 22px;
	margin: 1%;
}

.senseImg{
	height: 590% !important;
}
.etiqueta{
	font-size: 80% !important;
}

#menuMagic a:link, #menuMagic a:visited,  #menuMagic a:hover,  #menuMagic a:active { 
	color: white !important; 
}
#menuMagic{
	color: white !important;
}