{% extends "basetpv.html" %} 
{% load staticfiles %}
{% block title %} tpv {% endblock %} 
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column" >
			<div class="row clearfix">
				<div class="col-md-6 column" id="categories">
		</div>
				<div class="col-md-12 column" id="productes">
				</div>
			</div>
		</div>
			<div id="resum" class="col-md-6 column">
				<h3> Resum de la comanda </h3>
					<button class="btn btn-success" id="passaComanda" >Passar Comanda </button>
					<button class="btn btn-warning" id="anulaComanda">Cancelar Comanda </button>
			</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Tria les opcions</h4>
	      </div>
	      <div class="modal-body" id="contenido-interno">
	      </div>
	      <div class="modal-footer">
	        <button id='cancela' type="button" class="btn btn-default" data-dismiss="modal">Tanca</button>
	        <button id='guarda' type="button" class="btn btn-primary" data-dismiss="modal">Guarda</button>
	      </div>
	    </div>
	  </div>
{% endblock %}
