{% extends "base.html" %} {% block title %} Detalls de l'usuari {%
endblock %} {% block content %}
<div class="col-md-12">
	<div class="row">
		<form action="" method="post"
			class="jumbotron form-horizontal col-md-4 col-md-offset-4"
			role="form">
			{% csrf_token %} {{ user.username }} {{ user.email }} {{
			user.first_name }} {{ user.last_name }} {% for field in
			form.visible_fields %}
			<div class="form-group">{{ field.errors }} {{ field.label_tag
				}} {{ field }}</div>
			{% endfor %} <input class="btn btn-default col-md-12 " type="submit"
				value="Canvia" />
		</form>
	</div>
</div>
{% endblock %}
