{% extends "base.html" %} {% block title %} Detalls de l'usuari {% endblock %} 
{% block content %}
<div class="col-md-12">
	<div class="row">
		<form action="" method="post" class="jumbotron form-horizontal col-md-offset-2 col-md-8" role="form">
			{% csrf_token %} 
			Usuari: {{ user.username }} {{ user.email }} {{user.first_name }} {{ user.last_name }} 
			{% for field in	form.visible_fields %}
				<div class="form-group">
					{{ field.errors }} 
					<div class="col-md-5 ">{{ field.label_tag }}</div>
					<div class="col-md-2"> {{ field }}</div>
				</div>
			{% endfor %} <input class="btn btn-default col-md-12 " type="submit" value="Canvia" />
		</form>
	</div>
</div>
{% endblock %}
